/* Genreal */
	body {
		background-color: #dddddd;
		font-family: 'Open Sans', 'Arial', sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {
	  font-family: 'Alegreya', Times , serif;
	  color: #4aaaa5;
	}
	text {
		text-decoration-color: #777777;
	}

/* Header */
	header {
	   	position: relative;
	   	height: 100px;
	    width: 100%;
		color: white;
		background-color: #ffffff;
		text-align: center;
		border-bottom: 2px solid #d4d4d4;
		margin-bottom: 20px;
	}
	/* Box built around name */
	#head-name {
		position: absolute;
		bottom: 0;
		/* fixes bottom alignment issue
		bottom: -26px; */
		background-color: #4aaaa5;
		color: white;
		width: fit-content;
		float: left;
		padding: 25px;
		margin-bottom: 0;
	}

/* Navigation */
	
	/* General */
		a:visited {
	    text-decoration: none;
		}
		a:link {
		    text-decoration: none;
		}

	/* Header Navigation */
		#navigation {
			float: right;
			text-decoration: none;
			width: fit-content;
			list-style-type: none;
		    margin: 48px 0px 0px 0px;
		    padding: 0px;
		    overflow: hidden;
		}
		#navigation a {
		    display: block;
		    color: #999999;
		    text-align: center;
		    text-decoration: none;
		    padding: 0px 15px;
		}
		#navigation a:hover:not(.active) {
		    background-color: #4aaaa5;
		    color: white;
		}
		.active {
	    	background-color: #4CAF50;
		}
		#navigation li {
			display: inline-block;
			float: right;
		}
		#navigation-border {
			border-left:1px solid #bbb;
			border-right:1px solid #bbb;
		}	

/* Content */
	
	/* Layout */
		.entire-content {
			width: 960px;
			margin-left: auto;
			margin-right: auto;
		}
		#main-content {
			width: 600px;
			float: left;
		}
		#main-content, #sidebar {
			background-color: white;
			border: 1px solid #dddddd;
			padding: 20px;
		}
	
	.main-content-image {
		float: left;
		margin: 0px 5px 0px 0px;
	}
	.sidebar {
		float: right;
		width: 220px;
		text-align: center;
	}
	/* Horizontal line break */
	.h-line { 
		width: 100%; 
		height: 2px; 
		background: #dddddd;
		margin-top: 10px;
		margin-bottom: 10px;
	}

/* Form */
	form {
		width:100%;
		height:450px;
		margin:auto;
		position:relative;
	}
	input {
		margin-bottom: 10px;
	}
	textarea, input[type=text], input[type=email]{
		width: 99%;
		border-style: inset;
	    border-width: 3px;
	}
	input[type=text], input[type=email] {
		height: 25px;
	}
	input[type=submit] {
	    padding: 5px 20px; 
	    background:#4aaaa5; 
	    border:0 none;
	    cursor:pointer;
	    color: white;
	    font-size: 14px;
	}

/* Portfolio Gallery */
	.portfolio-image-left, .portfolio-image-right {
		margin: 10px;
		position: relative;
	}
	.portfolio-image-left {
		float: left;
	}
	.portfolio-image-right {
		float: right;
	}
	/* Banner overlay on portfolio images */
	.portfolio-image-left h6, .portfolio-image-right h6{
		position: absolute; 
		bottom: 20%;
		width: 100%;
		color: white;
		background-color: #4aaaa5;
		padding: 10px 0px;
		text-align: center;
	}

/* Footer */
	/* Sticky footer */
	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		border: 50px;
		padding: 1em;
	    color: white;
	    background-color: #666666;
	    clear: left;
	    text-align: center;
		border-top: 10px solid #4aaaa5;
	}
	#copyright {
		font-size: 12px;
	}