/* Genreal */
	html, body {
		height: 100%;
	}
	body {
		background-color: #dddddd;
		font-family: 'Open Sans', 'Arial', sans-serif;
	}
	h1,h2,h3,h4,h5,h6 {
	  font-family: 'Alegreya', Times , serif;
	  color: #4aaaa5;
	}
	text {
		text-decoration-color: #777777;
	}
	.clearfix {
      overflow: auto;
      zoom: 1;
    }
/* Header */
	header {
	   	position: relative;
	   	height: 80px;
	    width: 100%;
		/* Fixes scroll cutoff issue */
		min-width: 960px;
		color: white;
		background-color: #ffffff;
		text-align: center;
		border-bottom: 2px solid #d4d4d4;
		margin-bottom: 1em;
	}
	/* Box built around name */
	#head-name {
		position: absolute;
		bottom: 0;
		background-color: #4aaaa5;
		color: white;
		width: fit-content;
		float: left;
		padding: .5em;
		margin-bottom: 0;
	}
/* Navigation */
	/* General */
		a:visited {
	    text-decoration: none;
		}
		a:link {
		    text-decoration: none;
		}
	/* Header Navigation */
		#navigation {
			float: right;
			text-decoration: none;
			width: fit-content;
			list-style-type: none;
		    margin: 2em 0 0 0;
		    overflow: hidden;
		}
		#navigation div {
			display: inline-block;
			float: right;
		}
		#navigation a {
		    color: #999999;
		    text-align: center;
		    text-decoration: none;
		    padding: 1px 15px;
		}
		#navigation a:hover:not(.active) {
		    background-color: #4aaaa5;
		    color: white;
		}
		.active {
	    	background-color: #4CAF50;
		}
		#navigation-border {
			border-left:1px solid #bbb;
			border-right:1px solid #bbb;
		}
/* Content */
	/* Layout */
		.entire-content {
			width: 960px;
			margin-left: auto;
			margin-right: auto;
		/*	margin-bottom: 1em;*/
		}
		/* header .entire-content {
			margin-bottom: 0;
		}*/
		#main-content {
			height: 100%;
			width: 600px;
			float: left;
		}
		#main-content, #sidebar1, #sidebar2 , #sidebar3 {
			background-color: white;
			border: 1px solid #dddddd;
			padding: 1em;
			margin-bottom: 1em;
		}
		#sidebar2 iframe, #sidebar3 iframe {
			width: 220px;
			height: 124px;
		}
		.sidebar {
			float: right;
			width: 220px;
			text-align: center;
		}
	.main-content-image {
		float: left;
		margin: 0 .5em 0 0;
	}
	/* Horizontal line break */
	.h-line { 
		width: 100%; 
		height: 2px; 
		background: #dddddd;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	/* Form */
		form {
			width:100%;
			height: fit-content;
			margin:auto;
			position:relative;
		}
		input {
			margin-bottom: 1em;
		}
		textarea, input[type=text], input[type=email]{
			width: 99%;
			border-style: inset;
		    border-width: 3px;
		}
		input[type=text], input[type=email] {
			height: 25px;
		}
		input[type=submit] {
		    padding: 5px 20px; 
		    background:#4aaaa5; 
		    border:0 none;
		    cursor:pointer;
		    color: white;
		    font-size: 14px;
		}
	/* Portfolio Gallery */
		.portfolio-image-left, .portfolio-image-right {
			margin: 10px;
			position: relative;
		}
		.portfolio-image-left {
			float: left;
		}
		.portfolio-image-right {
			float: right;
		}
		/* Banner overlay on portfolio images */
		.portfolio-image-left h6, .portfolio-image-right h6{
			position: absolute; 
			bottom: 15%;
			width: 100%;
			color: white;
			background-color: #4aaaa5;
			padding: 10px 0px;
			text-align: center;
		}
/* Footer */
	footer {
		position: relative;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 1em 0;
	    color: white;
	    background-color: #666666;
	    clear: left;
	    text-align: center;
		border-top: .5em solid #4aaaa5;
	}
	#copyright {
		font-size: 12px;
	}
	/* Sticky footer */
	.page-wrap {
		min-height: 100%;
		margin-bottom: -42px;
	}
	.page-wrap:after {
		content: "";
		display: block;
		height: 42px;
	}